<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wqy.eureka.provider.dao.PlanHabitMapper" >
  <resultMap id="BaseResultMap" type="cn.wqy.eureka.provider.entity.PlanHabit" >
    <id column="habit_id" property="habitId" jdbcType="VARCHAR" />
    <result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="habit_desc" property="habitDesc" jdbcType="VARCHAR" />
    <result column="habit_Importance" property="habitImportance" jdbcType="VARCHAR" />
    <result column="habit_term" property="habitTerm" jdbcType="VARCHAR" />
    <result column="habit_name" property="habitName" jdbcType="VARCHAR" />
    <result column="habit_staus" property="habitStaus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    habit_id, CREATED_USER, created_time, updated_time, habit_desc, habit_Importance, 
    habit_term, habit_name, habit_staus
  </sql>


  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from plan_habit
    <include refid="BaseCondition" />
    <if test="sort!=null and order!=null">
      order by ${sort} ${order}
    </if>
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from plan_habit
    where habit_id = #{habitId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from plan_habit
    where habit_id = #{habitId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.wqy.eureka.provider.entity.PlanHabit" >
    insert into plan_habit (habit_id, CREATED_USER, created_time, 
      updated_time, habit_desc, habit_Importance, 
      habit_term, habit_name, habit_staus
      )
    values (#{habitId,jdbcType=VARCHAR}, #{createdUser,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{habitDesc,jdbcType=VARCHAR}, #{habitImportance,jdbcType=VARCHAR}, 
      #{habitTerm,jdbcType=VARCHAR}, #{habitName,jdbcType=VARCHAR}, #{habitStaus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wqy.eureka.provider.entity.PlanHabit" >
    insert into plan_habit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="habitId != null" >
        habit_id,
      </if>
      <if test="createdUser != null" >
        CREATED_USER,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="habitDesc != null" >
        habit_desc,
      </if>
      <if test="habitImportance != null" >
        habit_Importance,
      </if>
      <if test="habitTerm != null" >
        habit_term,
      </if>
      <if test="habitName != null" >
        habit_name,
      </if>
      <if test="habitStaus != null" >
        habit_staus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="habitId != null" >
        #{habitId,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null" >
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="habitDesc != null" >
        #{habitDesc,jdbcType=VARCHAR},
      </if>
      <if test="habitImportance != null" >
        #{habitImportance,jdbcType=VARCHAR},
      </if>
      <if test="habitTerm != null" >
        #{habitTerm,jdbcType=VARCHAR},
      </if>
      <if test="habitName != null" >
        #{habitName,jdbcType=VARCHAR},
      </if>
      <if test="habitStaus != null" >
        #{habitStaus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wqy.eureka.provider.entity.PlanHabit" >
    update plan_habit
    <set >
      <if test="createdUser != null" >
        CREATED_USER = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="habitDesc != null" >
        habit_desc = #{habitDesc,jdbcType=VARCHAR},
      </if>
      <if test="habitImportance != null" >
        habit_Importance = #{habitImportance,jdbcType=VARCHAR},
      </if>
      <if test="habitTerm != null" >
        habit_term = #{habitTerm,jdbcType=VARCHAR},
      </if>
      <if test="habitName != null" >
        habit_name = #{habitName,jdbcType=VARCHAR},
      </if>
      <if test="habitStaus != null" >
        habit_staus = #{habitStaus,jdbcType=VARCHAR},
      </if>
    </set>
    where habit_id = #{habitId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wqy.eureka.provider.entity.PlanHabit" >
    update plan_habit
    set CREATED_USER = #{createdUser,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      habit_desc = #{habitDesc,jdbcType=VARCHAR},
      habit_Importance = #{habitImportance,jdbcType=VARCHAR},
      habit_term = #{habitTerm,jdbcType=VARCHAR},
      habit_name = #{habitName,jdbcType=VARCHAR},
      habit_staus = #{habitStaus,jdbcType=VARCHAR}
    where habit_id = #{habitId,jdbcType=VARCHAR}
  </update>


  <sql id="BaseCondition">
    <where>
    <if test="createdUser != null and createdUser !='' " >
     and  CREATED_USER = #{createdUser,jdbcType=VARCHAR}
    </if>
    <if test="createdTime != null" >
     and created_time = #{createdTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatedTime != null" >
      and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    </if>
    <if test="habitDesc != null and habitDesc !='' " >
     and habit_desc = #{habitDesc,jdbcType=VARCHAR}
    </if>
    <if test="habitImportance != null and habitImportance !='' " >
     and habit_Importance = #{habitImportance,jdbcType=VARCHAR}
    </if>
    <if test="habitTerm != null and habitTerm !='' " >
     and habit_term = #{habitTerm,jdbcType=VARCHAR}
    </if>
    <if test="habitName != null and habitName !='' " >
     and habit_name like '%' || #{habitName,jdbcType=VARCHAR} || '%'
    </if>
    <if test="habitStaus != null" >
      and habit_staus = #{habitStaus,jdbcType=VARCHAR}
    </if>
    </where>
  </sql>

</mapper>